body {
  background: #c2c2c2;
}

header, section, footer {
  position: relative;
  margin: 25px auto;
  border-radius: 15px;
  background-color: #fff;
}

header, footer {
  width: 980px;
  padding: 5px 10px;
}

section {
  width: 940px;
  padding: 30px;
}

footer {
  text-align: center;
}

ul {
  width: inherit;
  padding: 0;
  display: table;
  text-align: center;
}

ul > li {
  display: table-cell;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

a.active, a.inpage {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

table.first_last_center tr td:first-child,
table.first_last_center tr td:last-child {
  text-align: center;
}

table.first_center tr td:first-child {
  text-align: center;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.inapoi {
  position: absolute;
  top: 33px;
  right: 33px;
}
